<!-- Open the modal using ID.showModal() method -->
<dialog id="my_modal_2" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Create File</h3>
    <div class="modal-action">
      <% if (mainFolderAndFile && !folder) { %>
        <form action="/home/upload-file" method="POST" enctype="multipart/form-data" class="w-full">
          <% } else { %>
            <form action="/home/<%= folder.id %>/upload-file" method="POST" class="w-full"
              enctype="multipart/form-data">
              <% } %>
                <!-- if there is a button in form, it will close the modal -->
                <input type="file" class="file-input" name="file" />

                <div class="flex gap-2 mt-3">
                  <button type="submit" class="btn">Submit</button>
                  <button class="btn" type="button" onclick="closeDialogFile()">Close</button>
                </div>
            </form>
    </div>
  </div>
</dialog>