<footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 mt-5">
  <aside>
    <p>Copyright © <%= new Date().getFullYear() %> - All right reserved by <a class="link link-info"
          href="https://github.com/bartue-dev" target="_blank">bartue.dev</a></p>
  </aside>
</footer>