<div class="dropdown dropdown-right">
  <div tabindex="0" role="button" class="btn m-1">
    <%- include("../partials/add-icon") %>
      <h1>New</h1>
  </div>
  <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
    <li class="mb-1">
      <!-- Open the modal using ID.showModal() method -->
      <button onclick="my_modal_1.showModal()">Folder</button>

    </li>
    <li>
      <!-- Open the modal using ID.showModal() method -->
      <button onclick="my_modal_2.showModal()">File</button>
    </li>
  </ul>
</div>